@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    background-color:  hsl(185, 75%, 39%);
    font-family: "kumbh sans";
    
}
main{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    min-height: 100vh;
}
.card{
    height:484px;
    width: 383px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    
}
img{
    width: 92px;
    height: 92px;
}
.info-superior{
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
}
.info-inferiores{
    width: 100%;
    border: 1px solid blue;
    justify-self: flex-end;
}


ul{
    display: flex;
    border: 1px solid red;
    width:100%;
    justify-content: space-around;

}
li{
    text-align: center;
}